---
interface Props
{
    title: string;
    description: string;
    position: string
}

const { title, description, position} = Astro.props;
---

<div class={`card ${position}`}>
    <h3>{title}</h3>
    <p>{description}</p>
</div>

<style>
    .card
    {
        max-width: 260px;
        position: absolute;
        padding: 20px;
        border-radius: 20px;
        border: 5px solid #FFF;
        background: #FFF;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 15px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    p
    {
        font-size: 14px;
        font-weight: 200;
    }

    .left
    {
        top: 20%;
        left: -10%;
    }

    .right
    {
        bottom: 20%;
        right: -10%;
    }
</style>