<div class="brand">
    <h4>Las mejores compañias trabajan con nosotros</h4>
    <div class="carousel">
        <img src="https://imgur.com/meJursO.png" alt="brand1">
        <img src="https://imgur.com/OC0aQen.png" alt="brand1">
        <img src="https://imgur.com/Bc6yiQE.png" alt="brand1">
        <img src="https://imgur.com/zz7zaaa.png" alt="brand1">
    </div>
</div>

<style>
    .brand
    {
        padding: 40px 110px 100px;
        background-color: #D9D9D9;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    h4
    {
        font-size: 28px;
        font-weight: 600;
    }

    .carousel
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>