---
import PopupButton from "./react-components/PopupButton";
---

<div class="hero">
    <h1>Somos el aliado perfecto para el éxito de tu empresa</h1>
    <p>
        Nuestra pasión por la excelencia y la innovación impulsa nuestro trabajo, brindándote soluciones que hacen
        realidad tus ambiciones empresariales.
    </p>
    <PopupButton client:visible />
</div>

<style>
    .hero
    {
        padding: 100px 0 140px 100px;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    h1
    {
        width: 40%;
        font-size: 57px;
        font-weight: 600;
        padding: 0;
        margin: 0;
    }

    p
    {
        width: 40%;
        font-size: 18px;
        font-weight: 200;
    }

    @media screen and (max-width: 767px)
    {
        .hero
        {
            width: 100%;
            padding: 30px;
        }

        h1
        {
            width: 100%;
            font-size: 40px;
        }

        p
        {
            width: 100%;
            font-size: 16px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1200px)
    {
        .hero
        {
            width: 100%;
            padding: 30px 65px;
        }

        h1
        {
            width: 50%;
            font-size: 40px;
        }

        p
        {
            width: 50%;
            font-size: 16px;
        }
    }
</style>