<nav>
    <h1 onclick="window.open('https://www.macondosoftwares.com')">
        Macondo
    </h1>
    <input type="checkbox" id="check"/>
    <label for="check" class="icons">
        <svg class="menu" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 6l16 0"></path>
            <path d="M4 12l16 0"></path>
            <path d="M4 18l16 0"></path>
        </svg>
        <svg class="close" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M18 6l-12 12"></path>
            <path d="M6 6l12 12"></path>
        </svg>
    </label>
    <ul>
        <li><a href="#about">Acerca</a></li>
        <li><a href="#service">Servicios</a></li>
        <li><a href="#testimonials">Testimonios</a></li>
    </ul>
    <button><a href="#contact">Cotiza ya</a></button>
</nav>

<style>
    @font-face
    {
        font-family: "Fun City Level 3 Basic";
        src: url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.eot");
        src: url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.svg#Fun City Level 3 Basic")format("svg");
    }

    nav
    {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 65px;
    }

    ul
    {
        display: flex;
        align-items: center;
        gap: 100px;
        list-style: none;
        transition: 0.3s all ease-in-out;
        color: #FFF;
    }

    a
    {
        text-decoration: none;
        color: inherit;
    }

    h1
    {
        font-family: "Fun City Level 3 Basic", sans-serif;
        color: #FFF;
        cursor: pointer;
    }

    button
    {
        font-family: 'Outfit', sans-serif;
        color: #FFF;
        border-radius: 300px;
        background: #000;
        padding: 15px 50px;
        border: none;
        cursor: pointer;
        transition: 0.3s ease-in-out;
    }

    button:hover
    {
        transform: scale(1.1);
    }

    .icons
    {
        cursor: pointer;
        display: none;
    }

    #check
    {
        display: none;
    }

    @media screen and (max-width: 767px)
    {
        nav
        {
            padding: 30px 30px;
        }

        ul
        {
            display: none;
            position: absolute;
            top: 0;
            right: 5%;
            gap: 10px;
            flex-direction: column;
            align-items: flex-end;
            width: 30%;
            margin-top: 60px;
            z-index: 3;
            transition: 1s all ease-in-out;
        }

        .icons
        {
            display: block;
            right: 0;
        }

        #check:checked~.icons .menu
        {
            display: none;
        }

        #check:checked~.icons .close
        {
            display: block;
        }

        #check:checked~ul
        {
            display: flex;
            background: #45749C;
            border-radius: 20px;
            padding: 20px;
        }

        .close
        {
            display: none;
        }

        button
        {
            display: none;
        }
    }

    /* Estilos para pantallas grandes (más de 992px de ancho) */
    @media screen and (min-width: 768px) and (max-width: 1024px)
    {
        nav
        {
            padding: 30px 30px;
        }

        ul
        {
            gap: 25px;
        }
    }
</style>