---

---

<nav>
    <h1>Macondo</h1>
    <ul>
        <li><a href="#about">Acerca</a></li>
        <li><a href="#service">Servicios</a></li>
        <li><a href="#testimonials">Testimonios</a></li>
    </ul>
    <button><a href="#contact">Cotiza ya</a></button>
</nav>

<style>
    @font-face {
        font-family: "Fun City Level 3 Basic";
        src: url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.eot");
        src: url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.eot?#iefix")format("embedded-opentype"),
        url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.woff2")format("woff2"),
        url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.woff")format("woff"),
        url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.ttf")format("truetype"),
        url("https://db.onlinewebfonts.com/t/506ff1864a3cdecf43c4b1bc8c246b9c.svg#Fun City Level 3 Basic")format("svg");
    }

    nav
    {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 65px;
    }

    ul
    {
        display: flex;
        align-items: center;
        gap: 100px;
        list-style: none;
    }

    a
    {
        text-decoration: none;
        color: inherit;
    }

    h1
    {
        font-family: "Fun City Level 3 Basic", sans-serif;
    }

    button
    {
        font-family: 'Outfit', sans-serif;
        color: #FFF;
        border-radius: 300px;
        background: #000;
        padding: 15px 50px;
        border: none;
        cursor: pointer;
        transition: 0.3s all ease-in-out;
    }

    button:hover
    {
        transform: scale(1.1);
    }
</style>