---
interface Props {
    title: string;
    description: string;
    image: string
    position: string
}

const { title, description, image, position} = Astro.props;
---

<div class="service">
    <slot name="before"/>
    <div class="container">
        <h1>{title}</h1>
        <p>{description}</p>
        <button onclick="window.location.href = 'https://calendly.com/d/4bv-22g-bsf/cuentanos-tu-proyecto?month=2023-09'">Cotiza con nosotros</button>
    </div>
    <slot name="after"/>
</div>


<style>
    .service
    {
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }

    .container
    {
        flex-basis: 60%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 0;
    }

    h1
    {
        font-size: 55px;
        width: 80%;
    }

    p
    {
        font-size: 18px;
        font-weight: 200;
    }

    button
    {
        font-family: 'Outfit', sans-serif;
        width: 40%;
        border-radius: 300px;
        background: #000;
        padding: 15px 30px;
        color: #FFF;
        cursor: pointer;
        transition: 0.4s ease all;
    }

    button:hover
    {
        transform: scale(1.1);
    }

    @media screen and (max-width: 767px)
    {
        .service
        {
            gap: 10px;
        }

        h1
        {
            font-size: 28px;
        }

        p
        {
            font-size: 14px;
        }

        button
        {
            width: 100%;
            font-size: 12px;
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1023px)
    {
        .service
        {
            gap: 10px;
        }

        h1
        {
            font-size: 28px;
        }

        p
        {
            font-size: 14px;
        }

        button
        {
            width: 100%;
        }
    }
</style>
