---
import TestimonialCard from "./TestimonialCard.astro";
---

<section id="testimonials" class="testimonials">
    <div class="intro">
        <div class="top">
            <span class="title">TESTIMONIOS</span>
            <h3>Lo que nuestros clientes dicen de Macondo</h3>
        </div>
        <div class="navigation">
            <button class="nav-button">
                <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M15 6l-6 6l6 6"></path>
                </svg>
            </button>
            <button class="nav-button">
                <svg width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M9 6l6 6l-6 6"></path>
                </svg>
            </button>
        </div>
    </div>
    <div class="comments">
        <TestimonialCard
            name="InnovaTech"
            description="CEO"
            comment="Macondo Magic Software ha sido un socio invaluable para nuestra empresa. Su experiencia en desarrollo web y enfoque innovador han llevado nuestras soluciones digitales al siguiente nivel. Su equipo ha demostrado habilidades extraordinarias en convertir nuestras ideas en productos finales de alta calidad. Recomendamos encarecidamente sus servicios a cualquier empresa que busque resultados excepcionales y un enfoque personalizado."
            image="https://www.macondosoftwares.com/wp-content/uploads/2023/02/why-chos-2-2048x1367.jpg"
            position="first"
        />
        <TestimonialCard
            name="Stellar Solutions"
            description="Associated Company"
            comment="No podemos estar más satisfechos con la colaboración de Macondo Magic Software. Su equipo de desarrollo web ha demostrado una experiencia excepcional y una pasión por la excelencia. Han convertido nuestra visión en una realidad asombrosa, superando nuestras expectativas en cada paso del camino. Macondo Magic Software es un verdadero líder en la industria y lo recomendamos encarecidamente a cualquier empresa que busque soluciones web de primera clase."
            image="https://www.macondosoftwares.com/wp-content/uploads/2023/09/trading1.jpg"
            position="second"
        />
        <TestimonialCard
            name="Factory Design Co."
            description="CEO"
            comment="Estoy inmensamente agradecido por haber contratado los servicios de Macondo Software. Su experiencia en soluciones de marketing para centros comerciales ha sido invaluable para nuestro éxito. Específicamente, su participación en el desarrollo de nuestra aplicación de RA resultó ser crucial para alcanzar nuestros objetivos. La combinación de su experiencia y pasión dio como resultado un proyecto exitoso que superó nuestras expectativas. Estamos realmente agradecidos por su compromiso y dedicación."
            image="https://www.macondosoftwares.com/wp-content/uploads/2023/02/factory.png"
            position="third"
        />
    </div>
</section>

<style>
    .testimonials
    {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 110px;
    }

    .title
    {
        background: #FBF52099;
        padding: 10px 15px;
        border-radius: 10px;
        font-size: 20px;
        font-weight: 700;
    }

    h3
    {
        font-size: 36px;
        font-weight: 600;
    }

    .intro
    {
        flex-basis: 20%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-bottom: 50px;
        gap: 100px;
    }

    .top
    {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }

    .comments
    {
        display: flex;
        flex-basis: 70%;
        gap: 30px;
        justify-content: space-between;
    }

    .navigation
    {
        display: flex;
        gap: 20px;
        width: 50%;
    }

    .nav-button
    {
        border-radius: 50%;
        padding: 25px;
        border: none;
        box-shadow: 0px 0px 10px 0px #00000033;
        position: relative;
        cursor: pointer;
        transition: all 0.5s ease;
    }

    .nav-button svg
    {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        transition: all 0.5s ease;
    }

    .nav-button:hover
    {
        transform: scale(1.2);
        background: #45749C;
        box-shadow: 0px 0px 10px 2px #00000033;
    }

    @media screen and (max-width: 460px)
    {
        .testimonials
        {
            padding: 70px 0;
        }

        .intro
        {
            flex-basis: 70%;
        }
    }

    @media screen and (max-width: 768px) and (max-width: 1024px)
    {
        .testimonials
        {
            display: flex;
            flex-wrap: wrap;
        }

        .top
        {
            flex-basis: 100%;
        }

        .comments
        {
            width: 80%;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 30px;
            justify-content: space-around;
        }
    }
</style>