.popup-button
{
    width: 20%;
    font-family: 'Outfit', sans-serif;
    border-radius: 300px;
    padding: 12px;
    margin-top: 15px;
    background: #000;
    color: #FFF ;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.popup-button:hover
{
    transform: scale(1.1);
}

.x-button
{
    background: transparent;
    border: none;
    width: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 300px;
    color: #999 ;
    cursor: pointer;
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    right: 30px;
    top: 20px;
}

@media screen and (max-width: 767px)
{
    .popup-button
    {
        width: 40%;
    }
}

@keyframes titilar
{
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.1);
        opacity: 0.8;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.titilante
{
    animation: titilar 1.5s infinite;
}