.popup-button
{
    width: 20%;
    font-family: 'Outfit', sans-serif;
    border-radius: 300px;
    padding: 12px;
    margin-top: 15px;
    background: #000;
    color: #FFF ;
    cursor: pointer;
}

.close-button
{
    background: transparent;
    border: none;
    width: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 300px;
    color: #999 ;
    cursor: pointer;
    position: absolute;
    font-size: 32px;
    font-weight: 700;
    right: 20px;
    top: 20px;
}